[Unit]
Description=pretix web service
After=network.target

[Service]
User=pretix
Group=pretix
Environment="VIRTUAL_ENV={{ pretix_dir }}/venv"
Environment="PATH=/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart={{ pretix_dir }}/venv/bin/gunicorn pretix.wsgi \
                      --name pretix --workers 5 \
                      --max-requests 1200  --max-requests-jitter 50 \
                      --log-level=info --bind=127.0.0.1:8345
WorkingDirectory={{ pretix_dir }}
Restart=on-failure

[Install]
WantedBy=multi-user.target